p.small {
    line-height: 0.02;
    text-align: center;
    margin-top: -10px;
    outline-width: 1cm;
    width: 1910px;
    word-wrap: break-word;
}
p.smalll {
    font-family: Arimo;
    line-height: 0.02;
    margin-top: -10px;
    text-align-all: center;
}
p3.small {
    font-family: Arimo;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
    text-align: center;
    line-height: 0.02;
    margin-top: -30px;
}
p.smallll {
    font-family: Arimo;
    font-size: 13px;
    width: 70%;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-align: center;
}
h1 {
    font-family: "Didact Gothic", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}
body {
    margin: 0;
}
h2 {
    font-family: "Didact Gothic", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;
    margin-top: -10px;
}
h3 {
    font-family: "Didact Gothic", serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;
    margin-top: -5px;
}
p.exp {
    max-width: 150px;
}
p {
    font-family: "Didact Gothic", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    word-wrap: break-word;
    font-weight: 400;
    line-height: 20px;
    margin-top: -15px;
    text-align: center;
}
pre {
    font-family: Arimo;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}
div.container1 {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center
}
div.container1 p {
    margin: 0
}
div container2 {
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center
}
div container2 p3 {
    margin: 0
}
hr {
    margin-top: -15px;
    align-self: center;
    max-width: 290px;
}

.hr2 {
    margin-top: -10px;
    align-self: center;
    position: center;
    max-width: 175px;
}

.hr3 {
    margin-top: -24px;
    align-self: center;
    max-width: 290px;
}
.button {
    text-shadow: 0 0 2px rgba(68, 170, 187, 0.73);
    margin-left: 230px;
    margin-right: 20px;
    background-color: #4ABDAC;
    padding: 20px 36px ;;
    margin-top: 20px;
    font-family: Didact Gothic, serif;
    font-size: 20px;
    align-content: center;
    max-height: 90px;
    max-width: 900px;
    border-radius: 20px;
    border-color: #4ABDAC;
    border-style: solid;
}

.button2 {
    text-shadow: 0 0 2px rgba(68, 170, 187, 0.73);
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #4ABDAC;
    padding: 20px 36px;;
    border-radius: 20px;
    font-family: Didact Gothic, serif;
    font-size: 20px;
    max-height: 90px;
    max-width: 900px;
    border-color: #4ABDAC;
    border-style: solid;
}

.cover-container {
    background-image: linear-gradient(to right, #92aafe, #c4e2d1);
}

.cover {
    margin-top: 0rem;
    margin-bottom: 10rem;
}

