p.small {
    line-height: 0.02;
    text-align: center;
    margin-top: -10px;
    outline-width: 1cm;
    width: 1910px;
    word-wrap: break-word;
}
p.smalll {
    font-family: Arimo;
    line-height: 0.02;
    margin-top: -10px;
    text-align-all: center;
}
p3.small {
    font-family: Arimo;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
    text-align: center;
    line-height: 0.02;
    margin-top: -30px;
}
p.smallll {
    font-family: Arimo;
    font-size: 13px;
    width: 70%;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-align: center;
}
h1 {
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}
body {
    margin: 0;
}
h2 {
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;
    margin-top: -10px;
}
h3 {
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;
    margin-top: -5px;
}
p.exp {
    max-width: 150px;
}
p {
    font-family: Arimo;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: -15px;
    text-align: center;
}
blockquote {
    font-family: Arimo;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-family: Arimo;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}
div.container1 {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center
}
div.container1 p {
    margin: 0
}
div container2 {
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center
}
div container2 p3 {
    margin: 0
}
hr {
    margin-top: -15px;
    align-self: center;
    max-width: 290px;
}

.hr2 {
    margin-top: -15px;
    align-self: center;
    position: center;
    max-width: 175px;
}

.hr3 {
    margin-top: -24px;
    align-self: center;
    max-width: 290px;
}
.button {
    text-shadow: 0 0 2px rgba(0,0,0,.3);
    border-color: #ba5c50;
    display: inline-block;
    margin-left: 250px;
    margin-right: 500px;
    background-color: #ba5c50;
    -webkit-text-fill-color: #3333;
    padding: 8px 16px;;
    margin-top: 50px;
    font-family: Didact Gothic, serif;
    font-size: 20px;
    align-content: center;
    max-height: 90px;
    max-width: 900px;
}

.container2 {
    margin: 0;
    background-color: #EA3D33;
    width: 100%;
    display: block;
    flex-grow: 1;
}

.button2 {
    text-shadow: 0 0 2px rgba(0,0,0,.3);
    margin-left: -250px;
    margin-right: -200px;
    background-color: #ba5c50;
    -webkit-text-fill-color: #3333;
    padding: 8px 16px;;
    margin-top: -20px;
    font-family: Didact Gothic, serif;
    font-size: 20px;
    max-height: 90px;
    max-width: 900px;
    position: relative;
}