p.small {
    line-height: 0.02;
    text-align: center;
    margin-top: -10px;
}
p3.small {
    font-family: Arimo;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
    text-align: center;
    line-height: 0.02;
    margin-top: -30px;
}
h1 {
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}
h2 {
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;
    margin-top: -40px;
}
h3 {
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;
    margin-top: -35px;
}
p {
    font-family: Arimo;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: -15px;
}
blockquote {
    font-family: Arimo;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-family: Arimo;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}
div.container1 {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center
}
div.container1 p {
    margin: 0
}
div container2 {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}
div container2 p3 {
    margin: 0
}
hr {
    width: 1px;
}

